<div class="col-12 col-lg-6">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
        <div class="popular-course-content">
            <h5>Business English</h5>
            <p>WHAT BACKGROUND KNOWLEDGE IS NECESSARY?</p>
            <p>ANSWER:This specialization was designed for business professionals and executives with an intermediate level of English.
                 This means you can hold basic conversations in English, you can read, understand, and write simple emails, and you can understand some of what you hear in the English language news.
                 More specifically, your linguistic competence can be measured by your scores on the TOEFL iBT or IELTS exams. 
               
            </p>
            
        </div>
    </div>
        
</div>

<!-- Single Top Popular Course -->
<div class="col-12 col-lg-6">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
        <div class="popular-course-content">
            <h5>Advanced HTML5</h5>
            
            <p>How to optimize website assets?

                Answer: We need to understand some basic optimization rules, in order to optimize website assets. 
                Initially, we should decrease the download size and make fewer http requests.</p>
            
        </div>
        
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
        <div class="popular-course-content">
            <h5>Advanced HTML5</h5>
            <p> What are the prerequisites for data mining?
                Big data processing frameworks: Hadoop, Storm, Samza, Spark, Flink. ...
                 Operating System: Linux. ...
                  Database knowledge: Relational Databases & Non-Relational Databases
            </p>
            
        </div>
        
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
        <div class="popular-course-content">
            <h5>Business Mathematics</h5>
           
            
            <p>How is maths used in business?
               Answer: Business mathematics are mathematics used by commercial enterprises to record and manage business operations.
                 Commercial organizations use mathematics in accounting, inventory management, marketing, sales forecasting, 
                 and financial analysis.</p>
            
        </div>
        
    </div>
    
</div>