<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>COURSE REVIEW PORTAL</title>

    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <header class="header-area">
            <div class="top-header">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <div class="header-content h-100 d-flex align-items-center">
                                <div class="academy-logo justify-content-start flex-grow-1">
                                <a href="index.html"><img src="../static/img/core-img/loco2.jpg"alt="LOGO"></a>
                                </div>
                                <button type="submit" id="myButton" class="btn btn-danger">LOGOUT</button>
    
                            </div>
                            
                        </div>
                            
                    </div>
                </div>
            </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/home">HOME</a></li>
                                    <li><a href="/about-us">ABOUT US</a></li>
                                    <li><a href="/course">COURSES</a></li>
                                    <li><a href="/review">REVIEWS</a></li>
                                    <li><a href="/forum">DISCUSSION FORUM</a></li>
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:8825568889"><i class="icon-telephone-2"></i> <span>882 5568 889</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->



    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(../static/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>DISCUSSION FORUM</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    
    
    
    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
    
            <div class="row">
                
                    <div class="col-12">
                        <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                            <span>Welcome To Discussion FORUM</span>
                            <h3>Post Your Questions Here!</h3>
                        </div>
                    </div>
                
                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Business English</h5>
                            <p>WHAT BACKGROUND KNOWLEDGE IS NECESSARY?</p>
                            <p>ANSWER:This specialization was designed for business professionals and executives with an intermediate level of English.
                                 This means you can hold basic conversations in English, you can read, understand, and write simple emails, and you can understand some of what you hear in the English language news.
                                 More specifically, your linguistic competence can be measured by your scores on the TOEFL iBT or IELTS exams. 
                               
                            </p>
                            
                        </div>
                    </div>
                        
                </div>

                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="popular-course-content">
                            <h5>Advanced HTML5</h5>
                            
                            <p>How to optimize website assets?

                                Answer: We need to understand some basic optimization rules, in order to optimize website assets. 
                                Initially, we should decrease the download size and make fewer http requests.</p>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="popular-course-content">
                            <h5>Advanced HTML5</h5>
                            <p> What are the prerequisites for data mining?
                                Big data processing frameworks: Hadoop, Storm, Samza, Spark, Flink. ...
                                 Operating System: Linux. ...
                                  Database knowledge: Relational Databases & Non-Relational Databases
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="popular-course-content">
                            <h5>Business Mathematics</h5>
                           
                            
                            <p>How is maths used in business?
                               Answer: Business mathematics are mathematics used by commercial enterprises to record and manage business operations.
                                 Commercial organizations use mathematics in accounting, inventory management, marketing, sales forecasting, 
                                 and financial analysis.</p>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                        <div class="popular-course-content">
                             <h5>{{first}}</h5>
                             <p>{{second}} </p>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>

               
                    
            
                  
                
                </form>
                <form action="/question" method="POST">
                <input type="question" class="form-control" id="question" name="question" aria-describedby="Help" placeholder="Enter The Subject">
                <input type="question" class="form-control" id="Input" name="Input"  aria-describedby="Help" placeholder="Enter The Question">
                <div>
                    <button type="submit" id="check" class="btn btn-default btn-lg mt-2">POST</button>
                </div>
            
                    
                </form>
        
                    <!-- Single Top Popular Course -->
               
            
        </div>
    </div>
</body>






    






<!--FOOTER PART ABOUT UNIVERSITY CONTACT INFORMATION-->
    
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="../static/img/core-img/loco2.jpg" alt=""></a>
                            </div>
                            <p> “Live as if you were to die tomorrow. Learn as if you were to live forever” – Mahatma Gandhi</p>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-5">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Gallery</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a href="../static/img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="../static/img/bg-img/gallery1.jpg" alt=""></a>
                                <a href="../static/img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="../static/img/bg-img/gallery2.jpg" alt=""></a>
                                <a href="../static/img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="../static/img/bg-img/gallery3.jpg" alt=""></a>
                                <a href="../static/img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="../static/img/bg-img/gallery4.jpg" alt=""></a>
                                <a href="../static/img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="../static/img/bg-img/gallery5.jpg" alt=""></a>
                                <a href="../static/img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="../static/img/bg-img/gallery6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contact</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <p>4127,University Road,Imaginary State,INDIA</p>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>Main: 203-808-8613 <br>Office: 203-808-8648</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>ivyuniversity1992@gmail.com</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>    
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>
    <script>
        document.getElementById("myButton").onclick = function () {
             location.href = "/index";
        }

    </script>
    <script>
        function question() {
        var x = document.getElementById("Input").value;
        document.getElementById("demo").innerHTML = x;
        var y = document.getElementById("question").value;
        document.getElementById("fun").innerHTML = y;
}
    </script>
    
</body>

</html>